<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Добавление товара</title>
<script type=text/javascript src="{{url_for('static', filename='jquery-2.1.0.min.js') }}"></script>
</head>
<body>
	<h1>Добавление товара (пример ajax запроса)</h1>
	<script>
		
		$(function() {
			$('a#add').bind('click', function() {
			$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
			$.ajax({
				type: "POST",
				url: "/additem_ajax",
				dataType: "json",
				data: JSON.stringify( {
					name: "Котся",
					price: 32,
					description: "Котся - это кот по имени котся. Котся играет в танки и работает админом, который рисует в фотошопе дипломы",
					category: 1,
					options: {
						2: {
							"value_int": 2012
						},
						1: {
							"value_float": 43.5
						}
					}})
			});
		});
	
		});
	</script>
	<a href=# id="add">Добавить</a>
</body>
</html>