<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Добавление Опции</title>
	<script type=text/javascript src="{{
  url_for('static', filename='jquery.js') }}"></script>

</head>
<body>
	<h1>Добавление опции</h1>
	<form action="" method="post" name="name">
		{{form.hidden_tag()}}
		<p>Название:</p> {{form.name(size=64)}} <br>
		<p>Описание:</p> {{form.description(size=512)}} <br>
		<p>Тип: </p> {{form.type_option}}
		<input type="submit" value="Добавить">
	</form>
	<script type="text/javascript">
	$(function() {
		$('a#get_options').bind('click', function() {
			$.getJSON('http://localhost:5000/get/all_options', function(data) {
				console.log(data);
			});
			return false;
		});
	});
	</script>
	<a href=# id=get_options>get_options</a>

</body>
</html>